*{
    margin: 0;
    padding: 0;
}

#Sec-one{
    /* display: flex;
    justify-items: center;
    /* justify-content: space-evenly; */
    height: 40px;
    width: 100%;
    display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient( #d7d2cc, #4e87b2);  
  color: black;
}

#mob-email{
padding-top: 8px;
padding-left: 20px;
justify-content:space-between ; 
align-items: center;
}

#logos{
    padding-top: 8px;
    align-items: center;
} 


/* #sec-one {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: linear-gradient(to right, #d7d2cc, #304352); /* Adjust colors to match your image 
    color: #fff;
  }
  
  #mob-email {
    display: flex;
  }
  
  .contact {
    display: flex;
    align-items: center;
    margin-right: 20px;
  }
  
  .contact svg {
    margin-right: 5px;
  }
  
  #logos {
    display: flex;
    align-items: center;
  }
  
  #logos svg {
    margin-right: 15px;
    cursor: pointer;
    transition: color 0.3s;
  }
  
  #logos svg:hover {
    color: #007bff; /* Adjust hover color as needed 
  }*/
  