/* .sec4{
    height: 800px;
    width: 100%;
    background: linear-gradient(white, rgb(123, 123, 247), blue);
}

.sec4 h3{
    padding-top: 5rem;
    padding-left: 30rem;
    color: black;
}
.form-container{
    height: 500px;
    width: 100%;
    background: linear-gradient(rgb(204, 204, 243), rgb(77, 77, 204));
    padding-left: 80rem;
}
.submit-btn{
    background-color: blue;
    color: white;
} */