.course-grid {
  margin: 0 auto;
  max-width: 1400px; /* Adjusted to allow more space */
  padding: 20px;
}

.course-grid h1 {
  text-align: left;
  margin-bottom: 20px;
  font-size: 2em;
  font-weight: bold;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr)); /* Adjusted min-width for larger cards */
  gap: 20px;
}

/* Responsive design */
@media (max-width: 768px) {
  .course-grid {
    margin-left: 0;
    padding: 5px;
  }

  .grid {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    margin-right: 15px;
    gap: 10px;
  }

  .course-card {
    flex-direction: column;
  }

  .course-image {
    width: 100%;
    height: 200px;
  }

  .course-info {
    width: 100%;
  }
}
