.course-card {
  display: flex;
  flex-direction: row;
  background: #fff;
  background-color: rgb(240, 244, 244);
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px;
  width: 100%; /* Extend width to take up available space */
  height: 220px;
}

.course-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.course-image {
  width: 40%; /* Keep image width to 40% to maintain aspect ratio */
  height: auto;
  background-color: black;
  object-fit: cover;
}

.course-info {
  padding: 20px;
  width: 60%; /* Adjust info width to match the new image width */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.course-info h3 {
  margin-top: 0;
  font-size: 1.5em;
  font-weight: bold;
}

.course-info ul {
  list-style-type: none;
  padding: 0;
}

.course-info ul li {
  margin: 8px 0;
  font-size: 1em;
}

.course-grid {
  margin: 0 auto;
  padding: 30px;
  max-width: 1400px; /* Adjusted to allow more space */
}

.course-grid h1 {
  text-align: left;
  margin-bottom: 20px;
  font-size: 2em;
  font-weight: bold;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr)); /* Adjusted min-width for larger cards */
  gap: 20px;
}

/* Responsive design for tablets */
@media (max-width: 768px) {
  .course-grid {
    margin: 0 20px;
    padding: 20px;
  }

  .grid {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
  }

  .course-card {
    flex-direction: column;
    height: auto;
    margin-right: 15px;
  }

  .course-image {
    width: 100%;
    height: 200px;
  }

  .course-info {
    width: 100%;
  }
}

/* Responsive design for phones */
@media (max-width: 480px) {
  .course-grid {
    margin: 0 10px;
    padding: 10px;
  }

  .grid {
    grid-template-columns: 1fr;
    gap: 10px;
  }

  .course-card {
    flex-direction: column;
    height: auto;
  }

  .course-image {
    width: 100%;
    height: 150px;
  }

  .course-info {
    padding: 10px;
    width: 100%;
  }

  .course-info h3 {
    font-size: 1.2em;
  }

  .course-info ul li {
    font-size: 0.9em;
  }
}
