.Main-content {
  position: relative;
}

.background-images {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 90%;
  overflow: hidden;
  z-index: 0;
}

.page-6 {
  padding: 5px;
}

.Section-6 {
  padding: 80px;
  background-color: rgb(235, 236, 237);
}

.bg-image {
  position: absolute;
  width: 50%;
  height: 100%;
  object-fit: cover;
}

.bg-image1 {
  left: 0;
}

.bg-image2 {
  right: 0;
}

.text-section {
  position: relative;
  z-index: 1;
  width: 60%;
  padding: 20px;
  margin-top: 10px;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-left: auto;
  margin-right: 40px;
  right: 0;
}

.text-section h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.text-section ul {
  margin-left: 10px;
  padding: 10px;
}

.text-section li {
  font-size: 18px;
  margin-bottom: 10px;
}

/* Tablet */
@media (max-width: 1024px) and (min-width: 769px) {
  .text-section {
    width: 80%;
    margin-right: 20px;
  }

  .text-section h2 {
    font-size: 22px;
  }

  .text-section li {
    font-size: 16px;
  }

  .Section-6 {
    padding: 60px;
  }
}

/* Mobile */
@media (max-width: 768px) {
  .background-images {
    height: 80%;
  }

  .bg-image {
    width: 100%;
    height: 50%;
  }

  .bg-image1 {
    top: 0;
  }

  .bg-image2 {
    bottom: 0;
  }

  .text-section {
    width: 90%;
    padding: 15px;
    margin: 10px auto;
    margin-bottom: 15px;
    margin-right: 0;
    right: 0;
  }

  .text-section h2 {
    font-size: 20px;
  }

  .text-section li {
    font-size: 14px;
  }

  .Section-6 {
    padding: 40px;
  }
}
