.about-section {
  background: linear-gradient(to right, #f7797d, #a8aff2, #2944de);
  padding: 20px;
  border-radius: 10px;
  margin: 20px;
}

.about-section h1 {
  color: #333;

  font-size: 18px;
}

.about-section h1 span {
  background-color: #FBD786;
  padding: 5px;
  border-radius: 2px;
}

.about-section p {
  color: #1e0ced;
}

.para-description {
    color: black;
}