.content {
  position: relative;
}

.background-images {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  overflow: hidden;
  z-index: 0;
}

.bg-image {
  position: absolute;
  width: 50%;
  height: 100%;
  object-fit: cover;
}

.bg-image1 {
  left: 0;
}

.bg-image2 {
  right: 0;
}

.text-section {
  position: relative;
  z-index: 1;
  width: 60%;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-left: auto;
  right: 0;
  margin-top: 110px;
}

.text-section h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.text-section ul {
  list-style: none;
  padding: 0;
}

.text-section li {
  font-size: 18px;
  margin-bottom: 10px;
}
