.footer-1 {
  padding: 20px;
  margin-top: 0rem;
  background-color: #e0e0e0;
  width: 100%;
  display: flex; 
  justify-content: center; 
  align-items: center; 
}

.footer-1 p {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  margin-right: 10px; 
}

.countt {
  font-size: 19px;
  background: #ffffff;
  padding: 5px 10px;
  border-radius: 5px;
  display: inline-block;
}