/* Base styles */
.forgot-page {
  font-family: "Arial", sans-serif;
  background: linear-gradient(90deg, #3a4c9b, #744bbf);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.forgot-password-container {
  background: linear-gradient(145deg, #3a4c9b, #744bbf);
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
  padding: 30px;
  width: 350px;
  color: #fff;
}

.forgot-password-container h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  color: #ffffff;
  font-weight: bold;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
}

.form-group input[type="email"] {
  width: 94%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  font-size: 14px;
  background: #f0f0f0;
}

.forgot-password-form .form-group button[type="submit"] {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #ff6f61;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-weight: bold;
}

.forgot-password-error {
  color: #ff6f61;
  text-align: center;
  margin-bottom: 10px;
}

.forgot-password-message {
  color: #6fff61;
  text-align: center;
  margin-bottom: 10px;
}

/* Media Queries */

/* For devices with max-width: 479px */
@media (max-width: 479px) {
  .forgot-password-container {
    width: 90%;
    padding: 20px;
  }

  .forgot-password-container h2 {
    font-size: 20px;
  }

  .form-group input[type="email"],
  .forgot-password-form .form-group button[type="submit"] {
    width: 100%;
    font-size: 12px;
  }
}

/* For devices with min-width: 480px and max-width: 768px */
@media (min-width: 480px) and (max-width: 768px) {
  .forgot-password-container {
    width: 80%;
    padding: 25px;
  }

  .forgot-password-container h2 {
    font-size: 22px;
  }

  .form-group input[type="email"],
  .forgot-password-form .form-group button[type="submit"] {
    width: 100%;
    font-size: 14px;
  }
}

/* For devices with min-width: 769px and max-width: 1024px */
@media (min-width: 769px) and (max-width: 1024px) {
  .forgot-password-container {
    width: 70%;
    padding: 30px;
  }

  .forgot-password-container h2 {
    font-size: 24px;
  }

  .form-group input[type="email"],
  .forgot-password-form .form-group button[type="submit"] {
    width: 100%;
    font-size: 14px;
  }
}

/* For devices with min-width: 1025px and max-width: 1200px */
@media (min-width: 1025px) and (max-width: 1200px) {
  .forgot-password-container {
    width: 60%;
    padding: 30px;
  }

  .forgot-password-container h2 {
    font-size: 26px;
  }

  .form-group input[type="email"],
  .forgot-password-form .form-group button[type="submit"] {
    width: 100%;
    font-size: 16px;
  }
}

/* For devices with min-width: 1201px */
@media (min-width: 1201px) {
  .forgot-password-container {
    width: 40%;
    padding: 30px;
  }

  .forgot-password-container h2 {
    font-size: 28px;
  }

  .form-group input[type="email"],
  .forgot-password-form .form-group button[type="submit"] {
    width: 100%;
    font-size: 16px;
  }
}
